# Dependencies
node_modules/
.astro/

# Build output
dist/
build/
.next/

# Environment variables
.env
.env.*
!.env.example

# Editor and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
